body{
    margin: 0;
    font-family: Arial , Helvetica, sans-serif;
    background-image: url('bg.png');
}

.mainBox{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
    width: 85%;
    height: max-content;
}

.mainBox h1{
    text-align: center;
    font-size: 24px;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: #474747;
}

.mainBox h2{
    text-align: center;
    font-size: 18px;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: #474747;
}

prodName{
    font-size: 14px;
    text-align: center;
}

prodPrice{
    font-size: 14px;
    color: rgb(192, 20, 20);
}

prodDesc{
    font-size: 12px;
}

.prodImg{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.profileGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profileGrid element{
    font-size: 18px;
    padding: 15px;
    vertical-align: middle;
}

.profileGrid label{
    font-family: Arial Black, Helvetica, sans-serif;
    color: #474747;
}

.profileImg{
    width: 90%;
    height: 300px;
    object-fit: contain;
}


.profileGrid a{
    font-weight: bold;
    color: rgb(192, 20, 20);
    text-decoration: none;
}

.removeBtn{
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    background-color: rgb(192, 20, 20);
    cursor: pointer;
    font-size: 12px;
    color: white;
    width : fit-content;
    height: 25px;
    border-radius: 5px;
}

.removeBtn:hover{
    background-color: rgb(125, 13, 13);
}

.profileGrid table{
    text-align: center;
}
.profileGrid heading{
    font-family: Arial Black, Helvetica, sans-serif;
    color: #474747;
}

.orderBtn{
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    background-color: rgb(225, 204, 16);
    cursor: pointer;
    font-size: 12px;
    color: black;
    width : 100px;
    height: 40px;
    border-radius: 5px;
    display:none;
}

.orderBtn:hover{
    background-color: rgb(191, 173, 15);
}