body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('bg.png');
}

.mainBox{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 5px;
    width: 85%;
    height: max-content;
}

.mainBox h1{
    text-align: center;
    font-size: 24px;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    color: #474747;
}

prodName{
    font-size: 14px;
    text-align: center;
}

prodPrice{
    font-size: 14px;
    color: rgb(192, 20, 20);
}

prodDesc{
    font-size: 12px;
}

.mainGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.mainGrid product{
    border-right: 1px dotted #474747;
    border-bottom: 1px dotted #474747;
    text-align: center;
    align-items: center;
}

.prodImg{
    width: 90%;
    max-height: 200px;
    object-fit: contain;
}

.prodImg{
    width : 75px;
    height: 75px;
}
